*{
  margin: 0;
  padding: 0;
  
}
body::-webkit-scrollbar {
  display: none;
}
body{width:100%;
  background-color: #027353;
}

header{
  width:100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  background-color: #F2E1D8;
  box-shadow: 0 0 10px ;
}
header img{
  background-color: aliceblue;
  
width: 100px;
height: 97px;
}
#menu-bar{
  font-size: 25px;
  cursor: pointer;
  color: #F05A28;
  border: solid 1px #F05A28;
  border-radius: 5px;
  padding: 8px;
  display: none;
}


nav{padding-top: 36px;
  
  margin-top:7px;
  padding-right: 20px;
  
}
.navbar a{
  

color:#F05A28;
padding: 10px;
margin-right: 10px;
  text-align: center;
text-decoration: none;
font-weight: 700;

}
header a:hover{
/* background-color:aliceblue; */
color: #03A678;
transition: 1s;
font-size: 25px;
}


h1{ color: #03A678;
    font-size: 200px;
    padding-top: 30px;
    height:80.3px; 
    position: relative;
    left: 32px;
    top: -308px;
    width: 550px;
}
h2{font-size: 30px;
  width: 250px;
  padding-top: 30px;
  /* background-color: aliceblue; */
  height:80.3px; 
  text-align: center;
}
.v img{
    
    width: 200px;
    height: 251px;
    /* position:absolute;
    top: 111px; */
    background-color: aquamarine;
}
.vedio{
   
    width: 250px;
    height: 100px;
}
.content{
    margin: 0px;
}




/* 下拉式選單 */

.dropbtn {
  position: fixed;
  top: 260px;
  left: 1229px;
    width: 54px;
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  
  .dropdown {
    position:relative;
    display: inline-block;
  }
  
  
  .dropdown-content { 
    display: none;
    /* position:absolute; */
    position: fixed;
    top:330px;
    left: 1121px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
 
  .dropdown-content a {
   
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  

  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
     /* position: fixed;
    top:150px; */
  
  }
.page-size{
  width: 1000px;
  position: relative;
  left: 100px;
}
p{
  color: #F2E1D8 ;
}
h2{position: relative;
  left: 10px;
  color: #F05A28;
  margin: 0;
}
.l{
  width: 150px;
  color: #F05A28;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  left: 545px;
}
.box{
  display: flex;
  justify-content:space-between;
}
.boxs-1{
  padding:10px;
  background-color: #03A678;
  border-radius: 20px;
  box-shadow: inset 0 0 0 0;
}
.title{
  width:75%;height:440px;position: relative;top:5px
}
li{margin-left: 20px; width: 1000px;margin: auto;}
.p1{
  color: #F2E1D8;
}
@media(max-width:500px){
header{
  width:100%;
}

  /* .navbar{ 
    padding-right: 0;
}
header{
    width: 100%
}
header.img{
    position: relative;
    right: 100px;
} */

.navbar a{
    margin: -5px;
}
  /* #menu-bar{
    display: initial;
    position: absolute;
    right: 10px;
    top: 20px;
}
  #menu-bar{
    font-size: 25px;
    cursor: pointer;
    color: #F05A28;
    border: solid 1px #F05A28;
    border-radius: 5px;
    padding: 8px;
}
.nav{
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background-color: #F2E1D8;
    border-top:solid 3px #03A678;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0 );
}
.nav a{
    display: block;
    font-size: 22px;
    font-weight: normal;
    color: #03A678;
    margin: 10px;
    padding: 6px;
    border-left:solid 3px #03A678;
    background-color: #F2E1D8;
}
.nav.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100% );
    padding: 10px;
} */
.title{
  width:80%;height:410px;position: relative;top:5px
}
.p1{
  width: 90%;
}
h1{
  font-size: 190px;
  width:100%;
  position: relative;
  left: -4px;
  padding: 0;
}
.page-size{
  width: 100%;
  position: relative;
  left: 10px;
}
.ul li p{
  width:40%;
  text-align: center;
  margin: 0;
}
.l{
  position: relative;
  left: 165px;
}
.box{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.boxs-1{
width: 80%;
position: relative;
left: -10px;
}
.boxs-2 iframe{
  max-width: 90%;
  position: relative;
  left: 4px;
  }
  .dropbtn{
    position: fixed;
    left: 10px;
    top: 420px;
  }
  .dropdown-content{
    position: fixed;
    left: 60px;
    top: 420px;
  }
  h2{
    position: relative;
    left:-21px;
  }
  .ul li p{
    width: 35%;
  }
}
